<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="background-color: #FFF; font-family: 'Play', sans-serif; font-size: 18px;">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/links">Генерация ссылки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/link-generation">Ссылки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">Выход</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <div class="col-md-12 p-3">
        <form action="/admin/generation" method="POST" enctype="multipart/form-data">
          <label>Название</label>
          <input required class="form-control mt-2" name="name" placeholder="Введите название">

          <div class="row gx-3 gy-3 mt-3">
            <div class="col-6">
              <label>Файл 1</label>
              <input required type="file" name="file_1" class="form-control mt-2">
            </div>
            <div class="col-6">
              <label>Пароль 1</label>
              <input required class="form-control mt-2" name="password_1" placeholder="Введите пароль">
            </div>
          </div>

          <div class="row gx-3 gy-3 mt-3">
            <div class="col-6">
              <label>Файл 2</label>
              <input required type="file" name="file_2" class="form-control mt-2">
            </div>
            <div class="col-6">
              <label>Пароль 2</label>
              <input required class="form-control mt-2" name="password_2" placeholder="Введите пароль">
            </div>
          </div>

          <div class="row gx-3 gy-3 mt-3">
            <div class="col-6">
              <label>Файл 3</label>
              <input type="file" name="file_3" class="form-control mt-2">
            </div>
            <div class="col-6">
              <label>Пароль 3</label>
              <input class="form-control mt-2" name="password_3" placeholder="Введите пароль">
            </div>
          </div>

          <button class="mt-5 btn btn-success">Сгенерировать</button>
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <div class="bs-toast toast fade show bg-primary position-fixed bottom-0 end-0 mb-5" style="margin-right:24px; z-index: 11;" role="alert" aria-live="polite" aria-atomic="true" data-delay="3000">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">Уведомление</div>
        <small>Сейчас</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-white">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    </div>
    
    {% endif %}
    {% endwith %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>